@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
color: #243e63;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color:#6415ff
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
   font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: all 300ms;
}

.btn:hover {
    background-color: rgba(60, 13, 153);
}


.btn__menu {
    background: transparent;
    border: none;
    transition: all 300ms ease;
    color: #243e63;
    display: none;
}

.menu__backdrop {
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
   padding: 12px 0;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.btn__menu--close {
    position: absolute;
    right: 18px;
    top: 24px;
    padding: 8;
    color: #243e63
}

.no-cursor {
    cursor: not-allowed;
}
/*

LANDING

*/

nav {
    padding-top:32px;
    display: flex;
}

.nav__container {
    width: 100%;
    display: flex;
}


.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__logo {
    width: 40px;
    height: 40px;
}

.nav__title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    text-decoration: none;
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    color: #243e63;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
    font-weight: 600;
    transition: all 300ms ease;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/*

HEADER

*/

.header__container {
    padding: 96px 0;
}

.header__row {
    display: flex;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    margin: 32px 0;
    color: #243E61;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__email--btn:hover {
    background-color: rgba(60, 13, 153);
}

.header__subtitle {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.customers__logo {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
   width: 60%;
}

.header__img {
    width: 100%;
}


/* 

FEATURES

*/

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.section__para {
   font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features__wrapper {
   display: flex;
   flex-wrap: wrap;
   margin-top: 40px;
}

.service {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.service__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.service__img {
    width: 24px;
    height: 24px;
}

.service__description {
    margin-top: 8px;
    margin-left: 16px;
}

.service__title {
    color: #243e63;
}

.service__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}


/* 

QUALITY

*/

.row__quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__work--header {
    max-width: 576px;

}

.qualtiy__work--wrapper,
.quality__img--wrapper {
    width: 50%;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
}

.quality__img {
    width: 100%;
}


/*

STEPS

*/

.row__steps {
    display: flex;
    align-items: center;
}

.steps__img--wrapper,
.steps__description {
    width: 50%;
}

.steps__img--wrapper {
    position: relative;
}

.steps__description {
   padding: 32px 0;
   padding-left: 64px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
   margin-left: 24px;
   max-width: 320px;
}   

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}


/*

VALUES

*/

.row__values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.values__img--wrapper {
    width: 50%;
}

.values__list {
    display: flex;
}

.value__header {
    display: flex;
    align-items: center;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 1.25;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.affordable__img--wrapper {
    background-color: #9ae6b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.professionalism__img--wrapper {
    background-color: #feb2b2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 20px;
    height: 20px;;
}

#values .btn {
    margin-top: 48px;
}


/*

PRICING

*/

.row__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.prices {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
}

.price {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.price__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.price:nth-child(1) .price__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.price:nth-child(3) .price__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.price__title--wrapper {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    padding: 32px;
    text-align: center;
}

.price__amount {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}

.price:nth-child(odd) .price__amount {
     color: #1a202c;
}

.price__length {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}

.price:nth-child(odd) .price__length {
    color: #a0aec0;
}

.price__group {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    padding: 32px;
    text-align: center;
}

.group__name {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__button--wrapper {
    z-index: 10;
    position: relative;
    text-align: center;
    padding: 32px;
    text-align: center;
}

.plan__btn {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}
    
.plan__btn--1 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.price:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%)
}

.price:nth-child(2) .price__stripe {
    visibility: hidden;
}

.price:nth-child(2) .price__title,
.price__amount, .price__length {
        color: #f7fafc;
}

.price:nth-child(2) .price__group {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.price:nth-child(2) .group__name {
    color: #f7fafc;
}

.price:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__btn--2 {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan__btn--3 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/*

TESTIMONIALS

*/

.row__testimonials {
    display: flex;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}


.testimonial__img {
    width: 50%;
}

.testimonial__description--wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.star {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.experience__title {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 16px;
}

.experience__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}
.testimonial__reviewer {
    display: flex;
    justify-content: space-between;
}

.testimonial__name--wrapper {
    display: flex;
    align-items: center;
}

.testimonial__pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.reviewer__position {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}



/*

MEDIA 

*/


@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}